.light-theme {
    background-color: #ffffff; /* Цвет фона */

}

.light-theme .header {
    background-color: #ffffff; /* Цвет фона для шапки */

}

.light-theme main {
    background-color: #ffffff; /* Цвет фона для основного блока */

}

/* Стили для темной темы */
.dark-theme {
    background-color: #808080; /* Цвет фона */
    color: #ffffff; /* Цвет текста */
}

.dark-theme .header {
    background-color: #808080; /* Цвет фона для шапки */
    color: #ffffff; /* Цвет текста для шапки */
}

.dark-theme main {
    background-color: #808080; /* Цвет фона для основного блока */
    color: #var(--color-darkslateblue);; /* Цвет текста для основного блока */
}
main {
    width: 100%;
    max-width: 100%;
}
.rectangle-parent {
  background-color: var(--color-gray-100);
  flex-direction: column;
  padding: 119px 0 0;
  box-sizing: border-box;
  gap: 133.4px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-darkslateblue);
  font-family: var(--font-poppins);
}
button {
            padding: 10px 20px;
            font-size: 16px;
        }
        .microphone-icon {
            width: 30px;
            cursor: pointer;
        }


.frame-parent,
.header-parent,
.rectangle-parent {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.frame-child {
  align-self: stretch;
  height: 2610px;
  position: relative;
  background-color: var(--color-gray-100);
  display: none;
  z-index: 0;
}

.frame-item {
  height: 30px;
  width: 30px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-darkslateblue);
  flex-shrink: 0;
  debug_commit: 1de1738;
  z-index: 1;
}
.rectangle-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs-5) 0 0;
}
.header {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: -5px;
  left: -4px;
  background-color: var(--gray-default);
  border-bottom: 1px solid transparent;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: 28px 80px;
  z-index: 1;
  text-align: center;
  font-size: 50px;
  color: var(--color-darkslateblue);
  font-family: var(--body2-medium-all);
}
.container,
.header {
  box-sizing: border-box;
}

.container,
.header,
.navigation {
  max-width: 100%;
}
.actions,
.container,
.header,
.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.container {
  flex: 1;
  justify-content: space-between;
  padding: 0 var(--padding-13xl);
  gap: 20px;
}
.container {
  flex: 1;
  justify-content: space-between;
  padding: 0 var(--padding-13xl);
  gap: 20px;
}

.b {
  width: 102px;
  letter-spacing: -0.02em;
  line-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 102px;
  white-space: nowrap;

}
.container a{
text-decoration: none;
font-family: var(--font-nunito-sans);
color: var(--color-darkslateblue);

}
.about,
.b {
  position: relative;
}

.about {
  line-height: 24px;
  font-weight: 500;
  display: inline-block;
  min-width: 65px;
}

.navigation {
  justify-content: flex-start;
  gap: 23.8px;
  text-align: left;
  font-size: var(--body2-medium-all-size);
}
.link,
.link-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size:20px;
}
.link-container,
.link1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.link1 {
  flex-direction: row;
  cursor: pointer;
}
.link2 {
  height: 24px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--gray-600);
}
.link,
.link-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider,
.work-page {
  box-sizing: border-box;
}
.divider {
  width: 1px;
  height: 25px;
  position: relative;
  border-right: 1px solid var(--gray-100);
}
.actions,
.container,
.header,
.navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.actions {
  justify-content: flex-start;
  gap: var(--gap-base);
  color: var(--gray-50);
}
.icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.icon-button {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs);
}
@media screen and (max-width: 1200px) {
  .header {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }

}
@media screen and (max-width: 450px) {
  .group,
  .section {
    font-size: var(--font-size-3xl);
    line-height: 39px;
  }
  .group {
    line-height: 35px;
  }
  .rectangle-group {
    min-width: 100%;
  }
  .div {
    font-size: var(--font-size-lgi);
    line-height: 19px;
  }
  .div1 {
    font-size: 18px;
  }
  .you-can-do-with-skilline-parent {
    gap: 30px;
  }
  .div3,
  .div4,
  .div5,
  .div6,
  .strada-iuri-gagarin {
    font-size: var(--font-size-lgi);
  }
  .h1 {
    font-size: 38px;
  }
  .div7 {
    font-size: var(--font-size-lgi);
  }
  .rectangle-parent {
    gap: 17px;
  }
}
@media screen and (max-width: 750px) {
  .frame-group {
    gap: var(--gap-base);
  }
  .you-can-do-with-skilline-parent {
    gap: 60px;
  }
  .rectangle-parent {
    gap: 33px;
    padding-top: var(--padding-13xl);
    box-sizing: border-box;
  }
}

.footer {
    position: relative; /* Изменено с absolute на relative */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #808080; /* Серый цвет фона */
    padding: 20px;
    font-size: 12 px;
    color: #ffffff; /* Цвет текста */
    }

.footer-container {
    display: flex;
    justify-content: space-between; /* Разделение на две колонки */
    align-items: flex-start; /* Выровнять элементы по верху */
    max-width: 1200px;
    margin: 0 auto;
}

.footer-links, .footer-info {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.footer-links {
    text-align: left; /* Текст слева */
}

.footer-link {
    margin: 10px 0; /* Отступы между пунктами меню */
}

.footer-info {
    text-align: right; /* Текст справа */
}

.footer-address, .footer-title, .footer-phone {
    margin: 10px 0; /* Отступы между текстовыми блоками */
}

.footer a {
    color: #ffffff; /* Цвет ссылок */
    text-decoration: none; /* Убираем подчеркивание ссылок */
}

.footer a:hover {
    text-decoration: underline; /* Добавляем подчеркивание при наведении */
}

.subtract-icon {
    margin-top: 20px; /* Отступ сверху для иконки */
}


