<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Быки и Коровы {{number}}</title>
    <style>
        /* Ваш стиль CSS здесь */
    </style>
</head>
<body>
    <div class="container">
        <h1>Игра "Быки и Коровы"</h1>

        <form action="/submit_guess" method="post">
            <label for="guessNumber">Введите ваше число:</label>
            <input type="number" id="guessNumber" name="guessNumber" required>
            <button type="submit">Подтвердить</button>
        </form>
    </div>
</body>
</html>
