{% extends 'base.html'%}

{% block title%} Список групп {% endblock %}


{% block head%}
<link rel="stylesheet" href="static/css/index.css" />
<link rel="stylesheet" href="static/css/global.css" />
<link rel="stylesheet" href="static/css/frame-116.css" />

{% endblock %}

{% block body%}
<section>
      <div class="vector-group">
        <img class="ellipse-icon" alt="" src="static/images/ellipse-1061.svg" />

        <b class="b4">Список всех групп</b>
        <div class="group-child26"></div>
      </div>
  </section>
<div class = 'center'>
      {%for group in groups%}
            <a href="/course{{ group.id }}" id="{{ group.id }}">
              <div class="frame-group" >
                <div class="frame-div">
                  <div class="frame-wrapper1">
                    <div class="ellipse-parent">
                    <div class="frame-inner"></div>
                      <div class="group" >{{group.name}}</div>
                    </div>
                  </div>
                  <div class="ellipse-wrapper">
                    <div class="ellipse-div"></div>
                  </div>
                  <div class="rectangle-group">
                    <div class="rectangle-div"></div>
                    <div class="frame-child1"></div>

                    <img
                      class="group-icon"
                      loading="lazy"
                      alt=""
                      src="{{ url_for('static', filename='images/' + group.groups_img) }}"
                    />

                  </div>
                </div>
              </div>
            </a>
      {%endfor%}
  </div>
<div></div>
{% endblock %}
